<nav class="sidebar">
  <ul class="nav-groups">
    <li class="nav-group-name">
    <a href="">Pathfinding</a>
      <ul class="nav-group-tasks">
        <li class="nav-group-task">
          <a href=“{{path_to_root}}/Classes/Navmesh.html"> Navmesh </a>
        </li>
        <li class="nav-group-task">
          <a href="{{path_to_root}}/Classes/MeshObstacle.html"> MeshObstacle </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
